body {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 24pt;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.32);
}

.person {
    position: absolute;
    text-shadow: none;
}

.person .nameplate {
    background-color: #ffffff;
    color: #000000;
    width: fit-content;
    padding: 6px 14px;
    font-size: 20pt;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.61);
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.61);
    height: 32px;
}

.person .twitch {
    font-size: 15pt;
    background-color: #9146FF;
    color: white;
    position: absolute;
    bottom: 0px;
    right: -2px;
    z-index: 10;
    padding: 4px 10px;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.61);
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.61);
}

.person .twitch i {
    font-size: 14pt;
    font-weight: normal;
}

.person .pronouns {
    font-size: 10pt;
    background-color: #30aebd;
    padding: 5px 10px;
    text-transform: uppercase;
    color: white;
    display: block;
    float: right;
    margin-top: 4px;
    margin-left: 10px;
}

.person .camera {
    top: 44px;
    left: 0;
    position: absolute;
    border: 1px solid #30aebd;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.61);
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.61);
}

.person {
    height: 465px;
    width: 516px;
}

.person .camera {
    width: 516px;
    height: 387px;
}

#position1 {
    top: 62px;
    left: 91px;
}

#position2 {
    top: 62px;
    left: 701px;
}

#position3 {
    top: 62px;
    left: 1311px;
}

#position4 {
    top: 541px;
    left: 91px;
}

#position5 {
    top: 541px;
    left: 701px;
}

#position6 {
    top: 541px;
    left: 1311px;
}